.checkbox {
  margin-bottom: 30px;
  @extend %flex-standart;
}

.checkbox__new {
  box-sizing: border-box;
  @extend %flex-standart;
  width: 16px;
  height: 15px;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #212121;
  margin-right: 7px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .checkbox__input:checked + & {
    background-color: var(--accent_color);
    border-color: var(--accent_color);
  }
  .checkbox__input:focus + & {
    border-color: var(--accent_color);
  }

}

.checkbox__svg {
  background-origin: border-box;
}

.modal__contract {
  color: var(--accent_color);
  text-decoration: underline;
}
