.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 1000;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  box-sizing: border-box;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__button-close {
  @extend %flex-standart;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: #fff;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{
    fill: var(--accent_color);
  }
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__title {
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  position: relative;

  &:nth-child(5) {
    margin-bottom: 20px;
  }
}

.modal__input {
  outline: transparent;
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 448px;
  margin-top: 4px;
  padding: 12px 16px 12px 34px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__label:focus-within & {
    border-color: var(--accent_color);
  }
}

.modal__svg {
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: var(--logo_color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__label:focus-within & {
    fill: var(--accent_color);
  }
}

.modal__textarea {
  margin-top: 4px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  max-width: 448px;
  padding: 12px 16px;
  min-height: 120px;
  resize: none;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__label:focus-within & {
    border-color: var(--accent_color);
  }

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

