.contact-header {
  display: flex;
  color: var(--general_color);
}

.contact-header__link {
  @extend %flex-standart;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent_color);
  }

  &:nth-child(1) {
    margin-right: 30px;
  }
}

.contact-header__svg {
  fill: var(--general_color);
  margin-right: 10px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-header__link:hover &,
  .contact-header__link:focus & {
    fill: var(--accent_color);
  }
}
