.footer {
  background-color: var(--footer_color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  color: var(--general_bg);
}

.footer__adress {
  margin-top: 20px;
  font-style: normal;
}

.footer__item {
  color: rgba(255, 255, 255, 0.6);

  &:nth-child(1) {
    color: var(--general_bg);
  }
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--general_bg);
  }
}

.footer__two {
  margin-left: 70px;
}

.footer__join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  margin-bottom: 20px;
}

.social-ico__item--grey {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  @extend %flex-standart;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent_color);
  }
}

.social-ico__svg--white {
  fill: #fff;
}

.footer__three {
  margin-left: 93px;
}

.footer__email-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;

  margin-bottom: 20px;
}

.footer__form {
  display: flex;
}

.footer__input {
  outline: transparent;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #afb1b8;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  outline: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent_color);
  }
}

.footer__send-svg {
  margin-left: 10px;
  fill: #ffffff;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
