.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo_color);
    margin-right: 93px;
  
    margin-top: 24px;
    margin-bottom: 25px;
  }
  
  .logo__web {
    color: var(--accent_color);
  }