.nav__list {
  display: flex;
}

.nav__item {
  margin-right: 53px;

  &:last-child {
    margin-right: 315px;
  }
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent_color);
    transform: scaleX(1);
  }
}

.nav__link::before {
  content: '';
  background-color: #2196f3;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -2px;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.nav__link:hover::before,
.nav__link:focus::before {
  transform: scaleX(1);
}

.nav__active {
  color: var(--accent_color);

  &::before {
    content: '';
    background-color: #2196f3;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -2px;

    transform: scaleX(1);
  }
}
