.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
  gap: 30px;
}

.cards__item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16); 
  }
}

.cards__link {
  outline: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);


  &:focus .cards__item {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}


.cards__box {
  position: relative;
  overflow: hidden;
}

.cards__img {
  display: block;
}


.cards__transform {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  max-height: 100%;
  max-width: 100%;
  color: var(--general_bg);
  left: 0;
  top: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  padding: 63px 24px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .cards__link:hover &,
  .cards__link:focus & {
    transform: translateY(0);
  }
}

.cards__box-second {
  padding: 20px 24px;

  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title_color);
}

.cards__descriptions {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
