:root {
    --general_bg: #ffffff;
    --general_color: #757575;
    --title_color: #212121;
    --accent_color: #2196f3;
    --logo_color: #000000;
    --svg_color: #afb1b8;
    --second_bg_color: #f5f4fa;
    --footer_color: #2f303a;
  }